nav {
  border-bottom: 1px solid black;
}

.navigation ol {
  list-style-type: none;
  padding-left: 0;
}

.navigation {
  display: inline-block;
}

.navigation a::after {
  display: inline-block;
  color: #000;
  content: ">";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

h2 {
  color: black;
  font-size: 3.3em;
  margin: 20px 0 0 0;
}

th {
  color: blue;
}
a {
  color: black;
  font-size: 15pt;
}
:link {
  color: red;
}
:visited {
  color: black;
}
:hover {
  color: black;
}
:active {
  color: blue;
}
img {
  width: 30%;
  height: auto;
  background-size: cover;
  border: 1px solid black;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 50%;
  display: block;
}
i {
  display: inline;
}
body {
  color: black;
  width: 100%;
  height: 100%;
  margin: 2em;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: lightblue;
}
.id {
  color: #9ac6e7;
}
p {
  color: black;
}
.dotted {
  outline-style: groove;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
label {
  font-size: larger;
  text-align: center;
}
div {
  padding: 10px 0;
  margin: 10px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
.credits {
  font-family: "Courier New", Courier, monospace;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  list-style-type: none;
  font-size: 16pt;
}
.mail {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  background: #d8f1f8;
  border: 1px solid silver;
}
.mail h2 {
  margin-left: 38px;
}
input {
  font-size: 20pt;
}
textarea:focus {
  background-color: lightyellow;
}
input submit {
  font-size: 12pt;
}
.rq {
  color: #ff0000;
  font-size: 10pt;
}
@media all and (max-width: 600px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media (min-width: 600px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
