/*Using HTML 5, CSS, and JavaScript (no other languages):
Write a JavaScript program that performs the following actions (in sequence,
step-by-step):
1. Welcomes the visitor with an alert
2. Prompts the visitor for his/her name
3. Displays the users name with an alert
a. Such as “Welcome [name]!”
4. Asks the visitor to enter two numbers with a prompt
a. They can enter one number with one prompt and the second
number with a second prompt, or you can ask them to enter them in
one prompt, separated by a space or comma.
5. Uses a function (that you create) to add these two visitor entered numbers
and adds them together and returns the result to the visitor with an alert.
Concatenate the result of adding their two numbers together at the end of
this phrase: “The sum of your two numbers is: [result]“
6. Add conditional logic (if/else):
a. If the result of adding the two numbers together is greater than 10:
i. Alert: “That is a big number.”
b. If the result of adding the two numbers together is less than or
equal to 10:
i. Alert: “That is a small number.”
7. Add a loop:
a. Prompt the user and ask if they want to add two numbers again, if
they do (check for yes/no):
i. Let the user provide two numbers again and produce the
result with an alert (steps 4-7 repeat)
b. If they don’t want to continue adding numbers:
i. Thank the visitor for using the program and stop.
The use of CSS is not required, it is optional for this part of the assignment.*/
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 300%;
  text-shadow: 2px 2px 3px #666666;
  padding-bottom: 10px;
  color: #ff0099;
}
h2 {
  color: #ff0099;
  font-size: 3.3em;
  margin: 20px 0 0 0;
  text-align: left;
}
h3 {
  color: purple;
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 30pt;
  text-align: center;
}
th {
  color: white;
}
a {
  color: #ff0099;
  font-size: 15pt;
}
:link {
  color: red;
}
:visited {
  color: white;
}
:hover {
  color: hotpink;
}
:active {
  color: blue;
}
img {
  width: 50%;
  height: auto;
  background-size: cover;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: block;
  opacity: 0.5;
  filter: sepia(100%);
}
i {
  display: inline;
}

body {
  color: #20303c;
  width: 100%;
  height: 100%;
  margin: 2em;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #cccccc;
  background-image: url("https://media.giphy.com/media/JmbbuW8MeuHlDenW3K/giphy.gif");
}
.id {
  color: #20303c;
  font-weight: bold;
}
p {
  color: #ff0099ff;
  text-align: center;
  font-size: 30em;
  margin: auto;
  width: 300px;
}
.dotted {
  outline-style: groove;
}
.username {
  font-weight: bold;
}
.title {
  font-size: 10rem;
}
div {
  width: 100px;
  height: 50px;
  background: hotpink;
  position: relative;
  animation: mymove 2s;
  animation-iteration-count: infinite;
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
.credits {
  font-family: "Courier New", Courier, monospace;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.class {
  margin: 10rem;
}
@media all and (max-width: 600px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media (min-width: 600px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
